<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja libre</title>
    <link rel="stylesheet" href="libre.css">
</head>

<body>
<h1>Publicacion</h1>
<img src="https://media.gettyimages.com/id/512810784/
es/foto/la-segunda-guerra-mundial-world-war-ii-soldados
-buscando-el-enemigo.jpg?s=612x612&w=0&k=20&c=KBMDFhYBpHv
jgZ8xtOEu9TB05AmVZV66CZ2XwyvzI6k=" alt="imagen">

{% for publicacion in publicacion_list%}
<article>
    <!--Mostramos información de dicho atributo del objeto Post.-->
    <p>Titulo: {{publicacion.titulo}}</p>
    <p>Correo: {{publicacion.contenido}}</p>
    <p>Fecha de creación: {{publicacion.fecha_Creacion}}</p>
    <p>autor: {{publicacion.autor}}</p>
  


<hr/>

</article>
{%  endfor %}
</body>
</html>